<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>Olá <b><%= @user.name %></b>,</p>

    <p>Para redefinir sua senha no Palestras Coletivas, clique na URL abaixo.</p>

    <p><%= link_to edit_password_reset_url(@user.password_reset_token), edit_password_reset_url(@user.password_reset_token) %></p>

    <p>Se você não pediu para sua senha ser redefinida, por favor, ignore este e-mail e sua senha ficará como está.</p>

    <p>Abraços,</p>

    <p>--</p>
    <p>Equipe Palestras Coletivas</p>
  </body>
</html>