    <p>Olá <b><%= @user.name %></b>,</p>

    <p>Para redefinir sua senha, clique no link abaixo.</p>

    <p><%= link_to 'Redefinir minha senha', edit_password_reset_url(@user.password_reset_token) %></p>

    <p>Se você não pediu para sua senha ser redefinida, por favor, ignore este e-mail e sua senha ficará como está.</p>

    <p>Abraços,</p>

    <p>--</p>
    <p>Equipe <%= I18n.t('app.name') %></p>
