<article id="answer_<%= comment.id %>" class="answer comment span11 offset1">
  <%= render "shared/user", :user => answer.user %>
  <span class="date"><%= comment.created_at.strftime("%d/%m/%y") %></span>
  <div class="body">
    <%=raw answer.body %>
  </div>
</article>