<%= form_for Comment.new, url: comments_path(commentable.class, commentable.id), html: { class: 'new_comment_form row g-3' } do |f| %>
  <div class="col-md-12">
    <%= f.text_area :body, placeholder: t("placeholder.comments"), rows: 5, class: "form-control" %>
  </div>
  <div class="col-md-12">
    <%= f.submit t("actions.comment"), class: 'btn btn-primary' %>
  </div>
<% end %>
