<div class="container">
  <div class="card">
    <%= render "shared/title", title: t("titles.talks.edit") %>
    <div class="card-body">
      <%= render 'form', url: talk_path %>
    </div>
  </div>
</div>
