<h1>Minhas palestras</h1>

<% @talks.each do |talk| %>
  <article class="talk">
    <h2><%= link_to talk.title, talk_path(talk) %></h2>

    <ul class="meta">
      <div>
        <%= image_tag talk.thumbnail %>
      </div>
    </ul>
  </article>
<% end %>