<%#= render "shared/title", title: t("titles.talks.index"), index: :talk %>
<%= render 'dialog', url: talks_path %>
<div id="main-container" class="container animated fadeInUp">
  <div class="" style="display: flow-root; padding: 10px 0 10px 0">
    <h1 class="mdc-typography--subtitle1"> <%= t("titles.talks.index") %></h1>
  </div>

  <% if logged_in? %>
    <button class="fixed-fab btn-new-talk mdc-fab material-icons mdc-ripple-upgraded"><span class="mdc-fab__icon">add</span></button>
  <% end %>
  <%= render "shared/talks", talks: @talks, show_user: true %>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    const container = document.querySelector('#main-container')
    let page = 2;
    var dialog = new mdc.dialog.MDCDialog(document.querySelector('#mdc-dialog-with-list'));

    $('.btn-new-talk').click(function(e){
      e.preventDefault();
      dialog.show();
    });

    $('.btn-close-dialog').click(function(){
      dialog.close();
    });

    $('.btn-apply-dialog').click(function(){
      $('#form-talk').submit();
      // dialog.close();
    })

    container.addEventListener('scroll', () => {
      if (container.scrollTop + container.clientHeight >= container.scrollHeight) {
        $.ajax({
          url: '/talks_ajax?page=' + page,
          success: function(res){
            $('.container').append(res);
            page = ++page;
          }
        })
      }
    })
  </script>
<% end %>
