<%#= render "shared/title", title: t("titles.talks.index"), index: :talk %>
<%= render 'dialog', url: talks_path %>

<div id="main-container" class="container">
  <div class="" style="display: flow-root; padding: 10px 0 10px 0">
    <h1 class="mdc-typography--subtitle1"> <%= t("titles.talks.index") %></h1>
  </div>

  <% if logged_in? %>
    <button class="fixed-fab btn-new-talk mdc-fab material-icons mdc-ripple-upgraded"><span class="mdc-fab__icon">add</span></button>
  <% end %>
  <%= render "shared/talks", talks: @talks, show_user: true %>
</div>

<div class="page-load-status">
  <div class="infinite-scroll-request">
    carregando...
  </div>
  <p class="infinite-scroll-last">End of content</p>
  <p class="infinite-scroll-error">No more pages to load</p>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    const container = document.querySelector('#main-container')
    var dialog = new mdc.dialog.MDCDialog(document.querySelector('#mdc-dialog-with-list'));
    const snackbar = new mdc.snackbar.MDCSnackbar(document.querySelector('.mdc-snackbar'));
    const dataObj = {
      message: 'Processando...',
      timeout: 50000
    };

    $('#form-talk').on('submit', function(){
      snackbar.show(dataObj);
    });

    $('.btn-new-talk').click(function(e){
      e.preventDefault();
      dialog.show();
    });

    $('.btn-close-dialog').click(function(){
      dialog.close();
    });

    $('.btn-apply-dialog').click(function(){
      $('#form-talk').submit();
    })

    $('.container').infiniteScroll({
      path: function(){
        let pageNumber = this.loadCount + 2;
        return '/talks_ajax?<%= "my=" + @my.to_s + "&" if @my %>page=' + pageNumber;
      },
      append: '.mdc-layout-grid__inner',
      history: false,
      status: '.page-load-status'
    });
  </script>
<% end %>
