<%#= render "shared/title", title: t("titles.talks.index"), index: :talk %>

<div id="main-container" class="container animated fadeInUp">
  <div class="row">
    <% if logged_in? %>
      <div class="col-md-6">
        <div class="btn-group pull-right" role="group">
          <%= link_to t("titles.talks.new"), new_talk_path, class: "btn btn-primary" %>&nbsp;

          <% if @my %>
            <%= link_to t("titles.talks.all"), talks_path, class: "btn btn-primary" %>
          <% else %>
            <%= link_to t("titles.talks.my"), "/talks?my=true", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>

  <%= render "shared/talks", talks: @talks, show_user: true %>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    const container = document.querySelector('#main-container')
    let page = 2;

    container.addEventListener('scroll', () => {
      if (container.scrollTop + container.clientHeight >= container.scrollHeight) {
        $.ajax({
          url: '/talks_ajax?page=' + page,
          success: function(res){
            $('.container').append(res);
            page = ++page;
          }
        })
      }
    })
  </script>
<% end %>
