<div class="container">
  <div class="card">
    <%= render "shared/title", title: t("titles.talks.new") %>
    <div class="card-body">
      <%= render 'form', url: talks_path %>
    </div>
  </div>
</div>
