<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <div class="row-fluid">
        <div class="span4">
          <h1><%= t("titles.groups.index") %></h1>
          <p><%= t("titles.groups.new") %></p>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render 'form', :url => groups_path %>