<div class="container d-flex justify-content-center">
  <div class="card">
    <h4 class="card-header"><i class="fa fa-user-plus"></i> <%= t("titles.users.signup") %></h4>
    <%= render 'shared/flash_messages' %>
    <div class="card-body">
      <%= render "form", url: new_user_path %>
    </div>
  </div>
</div>
