<div class="container">
  <div class="card">
    <%= render "shared/title", title:  t("titles.schedules.index") %>
    <div class="card-body">
      <h2><%= t("titles.schedules.new") %> <b><%= @event.name_edition %></b></h2>

      <%= render 'form', url: event_schedules_path(@event) %>
    </div>
  </div>
</div>
