<% if record.errors.any? %>
  <div>
    <p class="text-warning"><%= t("form.errors") %></p>
    <% record.errors.full_messages.each do |message| %>
      <p class="text-error"><%= message %></p>
    <% end %>
  </div>
<% end %>