<% if record.errors.any? %>
  <div class="form-erros">
    <p><%= t("form.errors") %></p>

    <ul>
      <% record.errors.full_messages.each do |message| %>
        <li>
          <%= message %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>