<% unless flash.blank? %>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning">
          <button type="button" class="close" data-dismiss="alert">&times;</button>
          <% flash.each do |type, message| %>
            <h4><%= message %></h4>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>
