<% unless flash.blank? %>
  <br />
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <% flash.each do |type, message| %>
          <div class="alert alert-success">
            <p><%= message %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
