<% unless flash.blank? %>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-warning alert-dismissible fade show" role="alert" data-mdb-color="warning">
          <% flash.each do |type, message| %>
            <h5><%= message %></h5>
          <% end %>
          <button type="button" class="btn-close" data-mdb-dismiss="alert" aria-label="Close"></button>
        </div>
      </div>
    </div>
  </div>
<% end %>
