<footer class="footer section-footer bg-inverse" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="media">
          <div class="media-left">
          </div>
          <small class="media-body media-bottom">
            <span class="copy-left">&copy;</span> Tá safo! 2013. <strong><%= link_to t('app.name'), 'https://github.com/tasafo/palestras-coletivas' %></strong>
          </small>
        </div>
      </div>
      <div class="col-md-6 col-lg-7">
        <ul class="nav nav-inline">
          <%= render 'shared/menu' %>
        </ul>
      </div>
    </div>
  </div>
</footer>
