<footer class="section-footer bg-inverse" role="contentinfo">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-5">
        <div class="media">
          <div class="media-left">
          </div>
          <small class="media-body media-bottom">
            &copy; Tá Safo 2017. <br>
            Palestras Coletivas
            </small>
        </div>
      </div>
      <div class="col-md-6 col-lg-7">
        <ul class="nav nav-inline">
          <li class="nav-item active">
            <a class="nav-link" href="/talks"><small>Slides</small> Incríveis<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item"><a class="nav-link" href="/events">Eventos</a></li>
          <li class="nav-item"><a class="nav-link" href="/ranking" target="_blank">Ranking</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
