<% if users.any? %>
  <div class="container">
    <h2 class="text-primary"><%= t("titles.ranking.#{field}") %></h2>
    <div class="row">
      <% users.each do |user| %>
        <%= render 'shared/user', user: user, counter: user.send("counter_#{field}") %>
      <% end %>
    </div>
    <hr/>
  </div>
<% end %>
