<div class="view intro-event <%= index %>-color">
  <div class="container">
    <div class="white-text wow fadeInUp">
      <h1> <%= title %> </h1>
    </div>

  </div>
</div>

<%= render "shared/flash_messages" %>

<hr />
