<div class="jumbotron">
  <h1>Olá!</h1>

  <p class="lead">
    Meu nome é Palestras Coletivas, fui desenvolvido para ajudar você a organizar seus:
  </p>

  <%= link_to "Eventos", events_path, :class => "btn btn-large btn-success" %>
  <%= link_to "Trabalhos", talks_path, :class => "btn btn-large btn-success" %>
  <%= link_to "Grupos", groups_path, :class => "btn btn-large btn-success" %>

  <br/><br/>

  <p class="lead">
    Estou evoluindo constantemente para te ajudar a reunir pessoas e compartilhar conhecimento.
  </p>
</div>