<h1>Palestras recentes</h1>

<% @talks.each do |talk| %>
  <article class="talk">
    <h2><%= link_to talk.title, talk_path(talk) %></h2>

    <ul class="meta">
      <li class="who">
        <%= render "shared/user", :user => talk.user %>
        <%= t("talk.created_time", :time => time_ago_in_words(talk.created_at)) %>
      </li>
      <div>
        <%= image_tag talk.thumbnail %>
      </div>
    </ul>
  </article>
<% end %>