<section id="home">
  <div class="container-narrow">
    <div class="row-fluid">
      <div class="marketing-narrow">
        <h1>Seja bem vindo ao Palestras Coletivas.</h1>
        <p class="lead">Um lugar para organizar trabalhos, eventos e juntar pessoas.</p>
      </div>
      <div class="row-fluid">
        <div class="span4 bg-transparent">
          <h2>Mostre seus trabalhos</h2>
          <p>Crie seu portfólio de palestras, cursos e workshops para que possam ser consultados por pessoas que desejam ver trabalhos de sua área.</p>
        </div>
        <div class="span4 bg-transparent">
          <h2>Organize seus eventos</h2>
          <p>De uma maneira bem simples, você pode lançar informações de eventos acadêmicos, seminários ou encontros de diversas áreas. E, ainda com a opção de adicionar organizadores, grupos envolvidos e a grade de programação dos dias do evento. Os usuários cadastrados podem se inscrever no evento com apenas poucos cliques.</p>
        </div>
        <div class="span4 bg-transparent">
          <h2>Conheça mais pessoas</h2>
          <p>O espaço que estamos dispondo aqui é apenas para provocar o encontro entre pessoas do mesmo interesse em suas áreas. Ele serve para a socialização do conhecimento.</p>
        </div>
      </div>
    </div>
  </div>
</section>
