<section id="home">
  <div class="container-narrow">
    <div class="row-fluid">
      <hr>
      <div class="marketing-narrow">
        <h1>Seja bem vindo ao Palestras Coletivas.</h1>
        <p class="lead">Um lugar para organizar trabalhos, eventos e juntar pessoas.</p>
      </div>
      <div class="row-fluid">
        <div class="span4">
          <%= image_tag "home_03.jpg", :class => "marketing-img" %>
          <h2>Mostre seus trabalhos</h2>
          <p>para pessoas se sua área</p>
        </div>
        <div class="span4">
         <%= image_tag "home_02.jpg", :class => "marketing-img" %>
          <h2>Organize seus eventos</h2>
          <p>com seus amigos</p>
        </div>
        <div class="span4">
          <%= image_tag "home_01.jpg", :class => "marketing-img" %>
          <h2>Conheça pessoas</h2>
          <p>que tenham o mesmo interesse que o seu</p>
        </div>
      </div>
    </div>
  </div>
</section>
