<div class="row-fluid">
  <div class="span12">
    <div class="page-header">
      <div class="row-fluid">
        <div class="span4">
          <h1><%= t("titles.events.index") %></h1>
          <p><%= t("titles.events.edit") %></p>
        </div>
      </div>
    </div>
  </div>
</div>
<%= render 'form', :url => event_path %>