<%#= render "shared/header", index: :event %>

<%#= render "shared/title", title: t("titles.events.index"), index: :event %>
<div id="main-container" class="container animated fadeInUp">
  <div class="row">
    <h1 class="mdc-typography--subtitle1" style="width: 60px; display: block; float: left">Eventos</h1>
    <%= link_to new_event_path, class: "link-effect mdc-button undefined mdc-ripple-upgraded btn-add-event"  do %>
      <i class="material-icons mdc-button__icon">add</i>  <%= t("titles.events.new") %>
    <% end %>
  </div>

  <% if @events.blank? %>
    <h2><%= t("titles.events.no_events") %></h2>
  <% else %>
    <%= render "shared/events", events: @events, show_user: true %>
  <% end %>
</div>

<% content_for :javascript do %>
  <script type="text/javascript">
    const container = document.querySelector('#main-container')
    let page = 2;

    container.addEventListener('scroll', () => {
      if (container.scrollTop + container.clientHeight >= container.scrollHeight) {
        $.ajax({
          url: '/events_ajax?page=' + page,
          success: function(res){
            $('.container').append(res);
            page = ++page;
          }
        })
      }
    })
  </script>
<% end %>
