<%= render "shared/header", index: :event %>
<%= render "shared/title", title: t("titles.events.new"), index: :event %>

<div class="container">
  <div class="card">
    <div class="card-body mx-4">
      <!--Header-->
      <div class="text-center">
          <h3 class="dark-grey-text mb-5"><strong>Novo Evento</strong></h3>
      </div>
      <%= render 'form', url: events_path %>
    </div>
  </div>
</div>
