<div class="container">
  <div class="card">
    <%= render "shared/title", title: t("titles.events.new") %>
    <div class="card-body">
      <%= render 'form', url: events_path %>
    </div>
  </div>
</div>
