<div class="rating">
  <% (0.5..5).step(0.5).to_a.each do |rating| %>
    <%= radio_button_tag :rating, rating, (rateable.rating == rating), class: "rating readonly" %>
  <% end %> &nbsp;&nbsp;<b>(<%= pluralize(rateable.ratings.count, t("labels.rating.vote"), t("labels.rating.votes")) %>)</b>
</div>