<div class="container">
  <div class="card">
    <%= render "shared/title", title: t("titles.export_subscribers.index") %>
    <div class="card-body">
      <h2><%= t("titles.export_subscribers.new") %> <b><%= @event.name %></b></h2>

      <%= render 'form' %>
    </div>
  </div>
</div>
