<%= render "shared/title", title: t("titles.enrollments.title") %>

<h2><%= t("titles.enrollments.edit") %> <b><%= "#{@event.name} - #{@event.edition}" %></b></h2>

<%= render 'form', :url => event_enrollment_path %>
