<% if page.current? %>
  <li class='page-item active'>
    <%= content_tag :a, page, remote: remote, class: "page-link", rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% else %>
  <li class="page-item">
    <%= link_to page, url, remote: remote, class: "page-link", rel: (page.next? ? 'next' : (page.prev? ? 'prev' : nil)) %>
  </li>
<% end %>
