<% if logged_in? && @owns %>
  <div class="span8">
    <ul id="work-filter">
      <li><%= link_to t("titles.talks.edit"), edit_talk_path(@talk), :class => "btn btn-primary" %></li>
      <li><%= link_to t("show.talk.external_event"), new_external_event_path(@talk), :class => "btn btn-primary" %></li>
    </ul>
  </div>
<% end %>