<h2 class="mdc-typography--headline5"><%= @talk.title %></h2>

<% if @presentation.frame.include?("without_presentation") %>
  <p class="text-warning"><%= t("show.talk.without_presentation") %></p>
<% end %>
<p class="mdc-typography--body1	">
  <%= simple_format @talk.description %>
</p>
