<% if @presentation.frame %>
  <div class="row">
    <div class="col-md-12">
      <div class="ratio ratio-4x3">
        <%= @presentation.frame.html_safe %>
      </div>
    </div>
  </div>
<% end %>
