<% if Rails.env != 'test' %>
  <% if @presentation %>
    <%= @presentation.frame.html_safe %>
  <% else %>
    <br/>
    <h4><p class="text-warning"><%= t("show.talk.without_presentation") %></p></h4>
  <% end %>
<% end %>
