<% if @presenteds.any? %>
  <h5><%= t('show.talk.events', count: @presenteds.count) %></h5>
  <ul>
  <% @presenteds.each do |schedule| %>
    <li><%= link_to schedule.event.name_edition, event_path(schedule.event) %></li>
  <% end %>
  </ul>
<% end %>
