<%= render "shared/title", title: t("titles.external_event.title") %>

<h2><%= t("titles.external_event.edit") %> <b><%= @talk.title %></b></h2>

<%= render 'form', :url => talk_external_event_path(@talk, @external_event) %>
