<%= render "shared/title", title: t("titles.external_event.title") %>

<h2><%= t("titles.external_event.new") %> <b><%= @talk.title %></b></h2>

<%= render 'form', :url => talk_external_events_path(@talk) %>
