<%= render "shared/title", title: t("titles.external_event.title") %>

<div class="container">
  <div class="card">
    <div class="card-body mx-4">
      <h3 class="text-center"><%= t("titles.external_event.new") %> <%= @talk.title %></h3>
      <%= render 'form', url: talk_external_events_path(@talk) %>
    </div>
  </div>
</div>
