.nav-agency {
  position:relative;
}

.thumb-presentation {
  height:127px;
  position:relative;

  .thumb-users {
    position:absolute;
    bottom: -10px;
    right: -9px;

    a {
      width:30px;
      height:30px;
      display:inline-block;
    }
  }
}

.featurette {
  h3 {
    margin-top:0;
  }
}

input.search-query {
  border-radius:0;
}

#flickr-wrapper {
  .thumb-user img {
    width: 50px;
    height: 50px;
  }
}

.bg-transparent {
  background: rgba(255, 255, 255, 0.90);
  padding-left: 10px;
  padding-right: 10px;
}

#location-map{
  background: #fff;
  border: none;
  height: 540px;
  width: 100%;

  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

#location-map img {
  max-width: initial;
}

section {
  padding-top: 50px;
  padding-bottom: 100px;
}

/* Custom container */
.container-narrow {
  margin: 10px auto;
  max-width: 900px;
}

/* Supporting marketing content */
.marketing {
  margin: 60px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

.marketing-narrow {
  color: white;
  text-shadow: 0 1px 2px #000000;
}

.footer {
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background: image-url('bg_footer.png');
  padding: 20px 0 10px;
  color: #919191;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #FFFF00;
}
