/*!
 * Agency11 v1.0
 *
 * Copyright 2013 Theme Armada
 * Visit us for more Bootstrap themes at:
 * http://www.themearmada.com
 *
 * Hand crafted with love in Atlanta!
 */

/* ==========================================================================
   Global Styles
   ========================================================================== */

body {
  background: #FFFFFF;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 1.2em;
}

.text p {
  color: black;
  font-size: 14pt;
}

.container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: #FFFFFF;
}

h3 {
  font-size: 37px;
  letter-spacing: 0px;
  line-height: 32px;
}

h4 {
  font-size: 21px;
  letter-spacing: -0.5px;
  line-height: 19px;
  color: #232527;
}

h5 {
  font-size: 19px;
  letter-spacing: 3px;
  line-height: 18px;
}

p {
  font-size: 14px;
}

.section-title {
  margin-bottom: 70px;
}

.section-title img {
  vertical-align: top;
}

a:hover {
  transition: color 0.35s;
  -moz-transition: color 0.35s; /* Firefox 4 */
  -webkit-transition: color 0.35s; /* Safari and Chrome */
  -o-transition: color 0.35s; /* Opera */
  text-decoration: none;
}

.btn-grey {
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 2px;
  font-size: 13px;
  font-weight: 800;
  text-decoration: none;
  margin-bottom: 10px;
  text-transform: uppercase;
}

.btn-grey, .btn-red {
  background: none repeat scroll 0 0 #232527;
  border: medium none;
  border-radius: 4px;
  box-shadow: none;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: none;
  padding: 16px 30px;
}

.btn-grey:hover, .btn-grey:active {
  background: #323639;
  color: #FFFFFF;
  transition: all 0.35s ease 0s;
}

.btn-red{
  background: none repeat scroll 0 0 #F85D5D;
  border: medium none;
  border-radius: 4px;
  box-shadow: none;
  color: #FFFFFF;
  text-decoration: none;
  text-shadow: none;
  padding: 16px 30px;
}

.btn-red:hover, .btn-red:active {
  background: #db5252;
  color: #FFFFFF;
  transition: all 0.35s ease 0s;
}

[class^="icon-"], [class*=" icon-"] {
  vertical-align: middle;
}

.scrollToTop, a.scrollToTop {
  width:35px;
  height:30px;
  border-radius: 4px;
  padding:10px;
  text-align:center;
  background: rgba(40,40,40,0.85);
  font-weight: bold;
  font-size: 19px;
  color: #FFFFFF;
  text-decoration: none;
  position:fixed;
  bottom:20px;
  right:20px;
  display:none;
}

.scrollToTop:hover {
  text-decoration:none;
  color: #ececec;
}

::selection {
  background: #F85D5D; /* Safari */
  color: #FFFFFF;
}

::-moz-selection {
  background: #F85D5D; /* Firefox */
  color: #FFFFFF;
}

iframe {
  width: 100%;
  height: inherit;
  border: none;
  background-color: transparent;
  overflow: hidden;
}

/* ==========================================================================
   Colors
   ========================================================================== */

.dark-grey {
  color: #232527;
}

.light-grey {
  color: #D2D2D2;
}

.red {
  color: #F85D5D;
}

.blue {
  color: #75D2D7;
}

.white {
  color: #FFFFFF;
}

/* ==========================================================================
   Navbar Styles
   ========================================================================== */

.navbar-inverse .navbar-inner {
  background-color: #FFFFFF;
  border-color: transparent;
}

.navbar-inverse .btn-navbar {
  margin-top: 15px;
}

.navbar-inner {
  border: none;
  height: 64px;
}

.navbar .brand {
  padding-top: 15px;
}

.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {
  box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
}

.navbar-inverse .nav .active > a, .navbar-inverse .nav .active > a:hover, .navbar-inverse .nav .active > a:focus {
  background-color: #232527;
  color: #FFFFFF;
}

.navbar .nav > li > a {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 14px;
  letter-spacing: 2px;
  text-shadow: none;
  color: #fff;
}

.navbar .nav > li > a:hover, .navbar .nav > li > a:focus {
  background-color: gray;
}

.navbar-fixed-top {
  margin-bottom: 0px;
}

.navbar-fixed-top, .navbar-fixed-bottom, .navbar-static-top {
  margin-left: 0px;
  margin-right: 0px;
}

.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner {
  padding: 0px;
}


/* ==========================================================================
   header
   ========================================================================== */

#page-header {
  padding-top: 4%;
  font-weight: bold;
  text-align: center;
}

.page-header-title {
  padding-top: 2%;
  line-height: 1.5em;
  font-size: 46px;
}

.page-header-text {
  font-size: 20px;
}

#page-content {
  padding-top: 1%;
  padding-bottom: 1%;
}

.hero-text {
  padding-top: 20%;
}

.hero-text h1 {
  font-size: 80px;
  letter-spacing: 10px;
  line-height: 70px;
  margin-bottom: 30px;
}

section {
  padding-top: 1px;
  padding-bottom: 1px;
}

.section {
  background-color: #fff;
}

/* ==========================================================================
   About
   ========================================================================== */

#about {
  background-color: #fff;
}

#about h4 {
  text-align: center;
  font-weight: bold;
}

#about p {
  color: #333;
}

/* ==========================================================================
   schedule
   ========================================================================== */

#schedule {
  background-color: #fff;
}

#schedule h4 {
  text-align: center;
  font-weight: bold;
}

/* ==========================================================================
   Location
   ========================================================================== */

#location {
  background: #fff;
}

#location h4 {
  text-align: center;
  font-weight: bold;
}

/* ==========================================================================
   organizers
   ========================================================================== */

#organizers {
  background: #fff;
}

#organizers h4 {
  text-align: center;
  font-weight: bold;
}

/* ==========================================================================
   groups
   ========================================================================== */

#groups{
  background: #fff;
}

#groups h4 {
  text-align: center;
}

/* ==========================================================================
   presents
   ========================================================================== */

#presents {
  background: #fff;
}

#presents h4 {
  text-align: center;
  font-weight: bold;
}

#news h5 {
  color: #FFFFFF;
  font-size: 16px;
  margin-bottom: 30px;
}

#news h4 {
  color: #232527;
  text-transform: none;
}

#news p {
  color: #FFFFFF;
}

.news-article {
  border-bottom: 1px dotted rgba(255,255,255,0.85);
  padding-bottom: 30px;
  margin-top: 20px;
}

.date {
  background: #232527;
  padding: 12px 8px 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: -0.5px;
  text-align: center;
  max-width: 90px;
  margin-top: 12px;
}

.day {
  color: #75D2D7;
  font-size: 34px;
}

.month {
  color: #FFFFFF;
  font-size: 16px;
}

a.more {
  background: #FFFFFF;
  color: #232527;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 800;
  text-decoration: none;
  padding: 10px 15px;
  text-transform: uppercase;
}

ul#twitter_update_list {
  list-style: none;
  padding-top: 20px;
}

ul#twitter_update_list li {
  display: none; /* Prevents the entire feed list from showing momentarily on page load */
}

.twitter-feed {
  position: relative;
  width: 90%;
  height: 75px;
  padding: 6px 10px 20px 0px;
  background: #232527;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 70px;
}

.twitter-feed:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 21px;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #232527 transparent;
  display: block;
  width: 0;
  z-index: 1;

}

.twitter-feed span {
  color: #FFFFFF;
  display: block;
  line-height: 1.1em;
}

.twitter-feed span a {
  color: #FFFFFF;
  text-decoration: none;

}

.twitter-feed span a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.twitter-feed a {
  color: #ffffff;
  text-decoration: none;
}

.twitter-feed a:hover {
  color: #f1f1f1;
  text-decoration: none;
}

.instagram-feed {
  width: 255px;
  height: 170px;
}

/* ==========================================================================
   Contact Styles
   ========================================================================== */

#contact {
  padding: 0px 0px 130px 0px;
  background: #F7F7F7;
}

.map {
  padding-bottom: 130px;
  height: 265px;
}

#contact h3 {
  color: #232527;
}

#contact h5 {
  margin-bottom: 15px;
}

p.tel, p.tel a, p.tel a:hover {
  color: #232527;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: 400;
}

ul.socialize {
  list-style: none;
  margin-left: 0px;
}

ul.socialize li {
  display: inline;
  line-height: 30px;
}

ul.socialize li a {
  color: #F85D5D;
  text-decoration: none;
}

ul.socialize li a:hover {
  color: #d64c4c;
  text-decoration: none;
}

/* ==========================================================================
   Footer Styles
   ========================================================================== */

footer {
  padding: 40px 0px 130px 0px;
  background: #232527;
  color: #fff;
}

ul.footer-links {
  list-style: none;
}

ul.footer-links li {
  display: inline;
  padding-left: 10px;
}

ul.footer-links a {
  color: #979797;
  letter-spacing: -0.5px;
  font-size: 14px;
  font-weight: bold;
}

ul.footer-links a:hover {
  color: #979797;
  text-decoration: none;
}

footer a {
  color: #979797;
}

footer a:hover {
  color: #979797;
  text-decoration: none;
}

/* ==========================================================================
   Mobile Styles
   ========================================================================== */

/* Landscape phones and down */
@media (max-width: 480px) {
  .navbar, .nav.pull-right {
    background: #232527;
    top:9px;
  }

  .navbar .nav > li > a {
    padding: 14px 15px;
  }

  .hero-text h1 {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .row-fluid, .section-title {
    text-align: center;
  }

  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .client {
    padding-bottom: 20px;
  }

  #call-to-action h4 {
    font-size: 40px;
    line-height: 36px;
  }

  .ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow:inset 0 0 0 0px rgba(255,255,255,0.0), 0 0px 0px rgba(0,0,0,0.0);
  }

  .ch-item:hover {
    box-shadow:
      inset 0 0 0 0px rgba(0,0,0,0.0),
      0 0px 0px rgba(0,0,0,0.0);
  }

  .ch-item:hover .ch-info {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 0;
  }

  .ch-item:hover .ch-info p {
    opacity: 0;
  }

  #contact .span4 {
    padding-bottom: 30px;
  }

  ul.footer-links {
    margin-top: 50px;
    text-align: center;
  }
}

/* Landscape phone to portrait tablet */
@media (min-width: 481px) and (max-width: 767px) {
  .navbar, .nav.pull-right {
    background: #232527;
    top:9px;
  }

  .navbar .nav > li > a {
    padding: 14px 15px;
  }

  .hero-text h1 {
    font-size: 40px;
    letter-spacing: 5px;
    line-height: 36px;
    margin-bottom: 20px;
  }

  .row-fluid, .section-title {
    text-align: center;
  }

  .span1, .span2, .span3, .span4, .span5, .span6, .span7, .span8, .span9, .span10, .span11, .span12 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow:inset 0 0 0 0px rgba(255,255,255,0.0), 0 0px 0px rgba(0,0,0,0.0);
  }

  .ch-item:hover {
    box-shadow:
    inset 0 0 0 0px rgba(0,0,0,0.0),
    0 0px 0px rgba(0,0,0,0.0);
  }

  .ch-item:hover .ch-info {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 0;
  }

  .ch-item:hover .ch-info p {
    opacity: 0;
  }

  #call-to-action h4 {
    font-size: 40px;
    line-height: 36px;
  }

  #contact .span4 {
    padding-bottom: 30px;
  }

  ul.footer-links {
    margin-top: 50px;
    text-align: center;
  }
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  .navbar, .nav.pull-right {
    background: #232527;
    top:9px;
  }

  .navbar .nav > li > a {
    padding: 14px 15px;
  }

  .ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: relative;
    cursor: default;
    box-shadow:inset 0 0 0 0px rgba(255,255,255,0.0), 0 0px 0px rgba(0,0,0,0.0);
  }

  .ch-item:hover {
    box-shadow:
    inset 0 0 0 0px rgba(0,0,0,0.0),
    0 0px 0px rgba(0,0,0,0.0);
  }

  .ch-item:hover .ch-info {
    -webkit-transform: none;
    -moz-transform: none;
    -o-transform: none;
    -ms-transform: none;
    transform: none;
    opacity: 0;
  }

  .ch-item:hover .ch-info p {
    opacity: 0;
  }
}

/* Desktops and laptops ----------- */
@media (min-width: 980px) and (max-width: 1699px) {

}

/* Large screens ----------- */
@media (min-width: 1700px) and (max-width: 2200px) {

}
