section#top {
  height: 200px;
  background: #2E8AF1;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 10px;
}

section#top h1 {
  color: #fff;
  font-weight: 100px;
  font-size: 100px;
  font-size: 7.5vw;
  letter-spacing: 15px;
}

.box-event{
  margin-top: 20px;
  padding-bottom: 10px;
  width: 170px;
  height: 250px;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    3px 3px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         3px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

.box-event h6{
  /*margin-top: 10px;*/
  font-size: 13px;
  padding: 0 10px 10px 10px;
  margin-bottom: -5px
}

.box-event p{
  /*margin-top: 10px;*/
  font-size: 13px;
  padding: 0 10px 10px 10px;
  margin-bottom: -5px
}

.box-event span{
  font-size: 10px;
  color: #7F7F7F;
  padding: 0 10px 0 10px;
}

.box-event p a{
  color: #606060
}

.box-event .thumb-user img{
  position: relative;
  margin-top: -30px
}

.box-event .icon {
  width: 170px;
  height: 128px;
  text-align: center;
  font-size: 7.5em;
  background: #C8C8C8;
}

.nav-events{
  text-align: right;
  border: 1px solid;
  padding: 40px 0 20px 0;
}

.nav-bar-events{
  margin-top: 20px
}

.nav-events .filter-tags{
  margin-top: -13px
}

.btn-events {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border-radius: 4px;
  background: #D1CDCC;
  color: #7F7F7F;
}

.btn-events:hover {
  color: #fff;
  background: #2E8AEF;
  text-decoration: none;
}

.top-new-event{
  padding: 40px 0 40px 0;
}

.top-new-event h1{
  font-weight: 200;
  font-size: 4em;
  text-align: center
}