/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require flexslider
 *= require font-awesome
 *= require animate
 */

 body {
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: -0.01em;
    overflow-x: hidden;
    position: relative;
    color: #606060;
}

/***** Top menu *****/

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background: #333;
  font-size: 18px;
  color: #fff;
    line-height: 32px;
}

nav .nav-links { text-align: right; }
nav .nav-logo { text-align: left; }

nav a {
  display: inline-block;
  margin: 0 15px;
  padding: 14px 0;
  color: #fff;
}
nav a:hover { color: #be5254; }
nav a:focus { color: #fff; }

nav .nav-logo a {
  width: 150px;
  height: 60px;
  margin: 0;
  padding: 0;
  background: url(../img/logo.png) left center no-repeat;
  text-indent: -9999px;
}

nav .show-menu {
  display: none;
}

nav .show-menu a {
  display: inline-block;
  width: 32px;
  height: 32px;
  margin: 0;
  padding: 0;
  font-size: 21px;
  color: #fff;
}
nav .show-menu a:hover { color: #fff; }


@media (min-width: 992px) and (max-width: 1199px) {

  .how-it-works-description { margin-top: 30px; }
  .how-it-works-description-left { padding-left: 60px; padding-right: 40px; }

  .faq-box-right span { -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); -webkit-transform: rotate(0deg); transform: rotate(0deg); }

}

@media (min-width: 768px) and (max-width: 991px) {
  
  nav .nav-logo { float: none; width: auto; text-align: center; }
  nav .nav-logo a { background-position: center center; }
  nav .nav-links { float: none; width: auto; text-align: center; }

  .section-description p { padding: 0; }
  
  .inner-bg { padding-top: 190px; }
  .top-content .text { padding-top: 40px; }
  .top-content .top-button .button-1 { margin-right: 10px; font-size: 18px; }
  .top-content .top-button .button-1 .button-1-right { width: 140px; margin-top: 9px; }
  .top-content .top-button .button-1 .button-1-right .button-1-right-bottom { font-size: 30px; line-height: 30px; }
  .top-content .top-button .button-2 { font-size: 18px; }
  .top-content .top-button .button-2 .button-2-right { width: 116px; margin-top: 10px; }
  .top-content .top-button .button-2 .button-2-right .button-2-right-bottom { font-size: 30px; line-height: 30px; }
  
  .features-center { padding-top: 120px; }
  
  .how-it-works-video { float: none; width: auto; }
  .how-it-works-video iframe { width: 65%; }
  .how-it-works-description { width: 50%; margin-top: 30px; text-align: center; }
  .how-it-works-description-left { padding-left: 15px; padding-right: 15px; }
  
  .screenshot-box img { max-width: 100%; }
  
  .faq-box-right span { font-size: 440px; -ms-transform: rotate(0deg); -moz-transform: rotate(0deg); 
              -webkit-transform: rotate(0deg); transform: rotate(0deg); }

}

@media (max-width: 767px) {
  
  nav { position: static; top: auto; left: auto; width: auto; z-index: auto; }
  nav .nav-logo { float: none; width: auto; }
  nav .nav-links { float: none; width: auto; text-align: center; }
  nav .nav-links a { display: none; width: 100%; margin: 0; padding: 10px 0; }
  nav .nav-links a:last-child { padding-bottom: 20px; }
  nav .nav-links .show-menu { display: block; position: relative; }
  nav .nav-links .show-menu a { display: inline-block; position: absolute; top: -46px; right: 0; width: 32px; padding: 0; z-index: 99; }
  
  .section-description p { padding: 0; }
    
    .inner-bg { padding-top: 60px; }
    .top-content .text { padding-top: 40px; text-align: center; }
    
    .how-it-works-video iframe { width: 90%; }
    .how-it-works-description { margin-top: 30px; text-align: center; }
  .how-it-works-description-left { padding-left: 15px; padding-right: 15px; }
  .how-it-works-description p { margin-bottom: 30px; }
  
  .screenshot-box-left, .screenshot-box-right { text-align: center; }
  .screenshot-box img { max-width: 100%; }
  
  .faq-box-right { display: none; }
  
  .contact-form, .contact-address { text-align: center; }
  
  footer, .footer-copyright { text-align: center; }
  .footer-copyright { padding-bottom: 15px; }

}

@media (max-width: 550px) {

    .subscribe form input { width: 95%; }
    .subscribe form button { width: 95%; margin-top: 10px; }

}

@media (max-width: 499px) {
  
  .top-content .top-button .button-1, .call-to-action-button .button-1 { margin: 0 10px 10px 10px; }
  
  .how-it-works-video iframe { height: 240px; }
  
}

@media (max-width: 350px) {
  
  .how-it-works-video iframe { height: 180px; }
  
}

@media (max-width: 290px) {
  
  .top-content .top-button .button-1, .call-to-action-button .button-1 { margin: 0 0 10px 0; }
  
}


/* Retina-ize images/icons */

@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-resolution: 2dppx) {
  
  /* logo */
    nav .nav-logo a {
      background-image: url(../img/logo@2x.png) !important; background-repeat: no-repeat !important; background-size: 84px 36px !important;
    }
  
}



section{
  padding: 50px
}

section#intro{
  padding: 0;
  background-image: url(home_02.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover
}

.blur {
    /* Absolutely position it, but stretch it to all four corners, then put it just behind #search's z-index */
  position: absolute;
  z-index: 99;
  width: 100%;
  /*filter: blur(4px);
  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  filter: url('blur.svg#blur');*/ /* for Firefox */
  background: rgba(30,30,30,0.6);
}

.intro-container{
  position: relative;
  z-index: 100;
  color: #fff;

}

.event{
  text-align: center;
  margin-top: 15%;
}

.event h1{
  font-size: 70px;
  line-height: 60px;
  font-weight: 300;
}

.event p{
  margin-top: 50px;
  font-size: 30px;
  line-height: 40px;
}

.btn-start {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border: 1px solid;
  border-radius: 4px;
  margin-top: 40px;
  background: transparent;
}

.btn-start:hover {
  color: #fff;
  background: #be5254;
  border-color: #be5254;
}

section#about h3{
  font-weight:100;line-height:1.1;
  font-size: 40px;
  margin-bottom: 50px
}

section#about{
  text-align: center;
}

section#about .caption h4{
  font-weight:100;
  line-height:1.1;
  font-size: 22px;
}

section#about .caption p{
  font-size: 12px
}

section#tops-presentations{
  padding: 0;
  background-image: url(10.jpg);
  background-attachment: fixed;
  -webkit-background-size: cover;
  background-size: cover;
  color: #fff;
  text-align: center;
}

section#tops-presentations .blur-presentation {
  position: absolute;
  z-index: 99;
  width: 100%;
  background: rgba(30,30,30,0.6);
}

section#tops-presentations .presentations-container{
  position: relative;
  z-index: 100;
  padding: 80px;
}

section#tops-presentations h3{
  font-weight:100;line-height:1.1;
  font-size: 40px;
  margin-bottom: 50px
}

section#calltoaction{
  text-align: center;
  background: #333333;
  color: #fff;
}

section#calltoaction a.btn-call {
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  padding:14px 40px;
  border-radius: 4px;
  margin-top: 40px;
  background: #BC640B;
  text-decoration: none;
}

section#calltoaction .btn-call:hover {
  color: #fff;
  background: #BC640B;
}
