  <section id="about">
    <%= render "events/show/actions" %>

    <div class="container">
      <h2 class="text-primary"><%= t("labels.event.about") %></h2>
      <hr />

      <div><%= CGI.unescapeHTML(@event.description).html_safe %></div>
    </div>
  </section>
