<section id="about" class="about">
  <%#= render "events/show/actions" %>
  <div class="container mdc-typography--body2" style="text-align: ">
    <div class=""  style="margin: auto; width: 50px">
      <span class="stocking-event"><%= @event.stocking %></span>
      <span style="display: block; margin: 0 0 20px 0; font-size: 18px">Vagas</span>
    </div>
    <div class="about-text" style="font-size: 18px;">
      <%= sanitize(@event.description) %>
    </div>
  </div>
</section>
