<style media="screen">
    section#page-header{
      background:
        linear-gradient(
          to top,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.4)
        ),
        linear-gradient(
          to left,
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.4)
        ),
          url("<%= event_image @event %>") no-repeat center center;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      width: 100%;
      min-height: 450px;
      background-color: #607D8B;
      background-attachment: fixed;
    }
  </style>

  <section id="page-header">
    <div class="header-content">
      <h1 class="mdc-typography--headline4"><%= @event.name_edition %></h1>

      <h2 class="mdc-typography--subtitle1"><%= @event.long_date %></h2>
    </div>
  </section>
