<% unless Rails.env.test? %>
  <% if @event.coordinates %>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>

    <script type="text/javascript">
      var map = L.map('location-map').setView([<%= @event.coordinates[1] %>, <%= @event.coordinates[0] %>], 17);
      mapLink = '<a href="https://openstreetmap.org">OpenStreetMap</a>';
      L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; ' + mapLink,
        maxZoom: 20,
      }).addTo(map);
      var marker = L.marker([<%= @event.coordinates[1] %>, <%= @event.coordinates[0] %>]).addTo(map);
    </script>
  <% end %>
<% end %>
