<% if Rails.env != 'test' %>
  <% if @event.coordinates %>
    <script src="https://unpkg.com/leaflet@1.0.3/dist/leaflet.js" integrity="sha512-A7vV8IFfih/D732iSSKi20u/ooOfj/AGehOKq0f4vLT1Zr2Y+RX7C+w8A1gaSasGtRUZpF/NZgzSAu4/Gc41Lg==" crossorigin=""></script>

    <script type="text/javascript">
      var map = L.map('location-map').setView([<%= @event.coordinates[1] %>, <%= @event.coordinates[0] %>], 17);
      mapLink = '<a href="https://openstreetmap.org">OpenStreetMap</a>';
      L.tileLayer(
        'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
        attribution: 'Map data &copy; ' + mapLink,
        maxZoom: 20,
      }).addTo(map);
      var marker = L.marker([<%= @event.coordinates[1] %>, <%= @event.coordinates[0] %>]).addTo(map);
    </script>
  <% end %>
<% end %>
