<div class="mdc-card custom-card custom-card--hero">
  <div class="mdc-card__primary-action mdc-ripple-upgraded" tabindex="0">
    <div class="custom-card__primary">
      <h2 class="custom-card__title mdc-typography--headline6"><%= suspension_points(talk.title, 60) %></h2>
      <h3 class="custom-card__subtitle mdc-typography--subtitle2"></h3>
    </div>
    <div class="custom-card__secondary mdc-typography--body2">
      <%= suspension_points(talk.description, 50) %>
    </div>
  </div>
  <div class="mdc-card__actions">
    <% talk.users.by_name.each do |user| %>
      <%= link_to thumbnail(user, "40x40", ''), user_path(user), title: user.show_name %>
    <% end %>
  </div>
</div>
