.intro-event{
  min-height: 400px;
  margin-bottom: 20px;
}

.event-color{
  background: #03A9F4;
}

.talk-color{
  background: #673AB7;
}

.ranking-color{
  background: #009688;
}

.white-text h1{
  margin-top: 310px;
}

.view-card-event{
  background: #03A9F4;
  min-height: 200px;
}

.events-actions{
  margin-bottom: 20px;
}

.card .card-event-0{
  background: #673AB7
}

.card .card-event-1{
  background: #FF9800
}

.card .card-event-2{
  background: #3F51B5;
}

.card .card-event-3{
  background: #2196F3;
}

.card .card-event-4{
  background: #78C257;
}

.card .card-event-5{
  background: #455A64;
}

.card .card-event-6{
  background: #AA00FF;
}

.card .card-event-7{
  background: #D50000;
}

.card .card-event-8{
  background: #795548;
}

.card .card-event-9{
  background: #FF7043;
}

.card .card-event-10{
  background: #7283A7;
}

.card .card-event-11{
  background: #00ACC1;
}
